@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply h-full
}

body {
  @apply font-jetbrains-mono bg-[#161A26] text-whitesmoke overflow-auto h-full max-w-3xl w-full mx-auto px-8
}

.h1 {

}

.h2 {
  @apply text-2xl text-bluemoon mb-4 mt-12 font-medium 
}

#__next {
  @apply h-full
}
